.footer {
  margin: $s*3 0 0 0;
  background-color: $black;
  width: 100%;
  color: $white;
  height: auto;

  a {
    color: white;
  }

  a:hover {
    color: $orange;
  }

  h4 {
    color: white;
  }

  &__content {
    // background-color: $gray-100;
    width: $container-width;
    max-width: $container-max;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($s*18, 1fr));

    @include from(lg) {
      box: horizontal top;
    }

    @include to(md) {
      grid-template-columns: 1fr;
    }

    // grid-template-rows: 1fr 100px;
    // // just-items: center;
    // justify-self: center;  
    // justify-items: center;
    &__right {
      width: 98%;
      height: auto;
      margin: 0 auto;
      // background-color: blue; 
    }

    &__center {
      width: 98%;
      height: auto;
      // background-color: greenyellow; 
    }

    &__left {
      width: 98%;
      height: auto;
      margin: 0px auto;
      // background-color: green;

      &__socialmedia {
        width: 120px;
        margin: 0 auto;
        // background-color: yellowgreen;
      }
    }

    &__bottom {
      // grid-column: 1/ -1;
      width: 100%;
      height: auto;
      background-color: $lightBlack;

      p {
        text-align: center;
        color: $white;
        padding: 25px 0;
        font-size: 0.8rem;
        text-align: center;
        // margin-left: 25%;
        // background-color: red;
      }
    }
  }

  h4 {
    margin: 0;
    padding: 0.2rem 0.6rem;
    text-align: center;
  }

  p {
    padding: 0.4rem 0.6rem;
    margin: 0;
    font-size: 0.8rem;
    text-align: center;
  }


}