.header {
  display: none;
  padding: 0;
  min-height: 670px;
  object-fit: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include from(lg) {
    box: horizontal top;
  }

  .logo {
    color: $gray-400;
    padding: $h;

    svg {
      size: $s*2;
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }
}