.locale {
  box: horizontal middle space-between;
  position: relative;
  margin: 0 20px 0 0;
  padding: $h $s*0.5;
  color: $white;
  background-color: $orange;
  // border-radius: $q;
  width: 180px;
  height: 35px;

  svg {
    size: $s;

    &:first-child {
      fill: $white;
    }
  }

  span {
    margin: 0 $s;
  }

  &__dropdown {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 55px;
    left: 0;
    width: 100%;
    padding: $t 0;
    background-color: $lightBlack;
    transition: all $fast ease-in-out;
    transform: translateY(-$h);
  }

  &:hover {
    .locale__dropdown {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}