.menu {
  // background-color: green;
  &__link {
    padding: $h;
    text-decoration: none;
    display: inline-block;
    padding: $h $s;
    background-color: $lightBlack;
    color: $white;
    &--active{
      color: $lightBlack;
      background-color: $orange;
    }
    &:hover {
      color: $lightBlack;
      background-color: $orange;
    }
  }

  @at-root .mobile__panel #{&} {
    box: vertical center;
    margin-bottom: $s*2;
  }
}