.menu {

  // background-color: green;
  &__link {
    padding: $s*0.65;
    text-decoration: none;
    display: inline-block;
    // padding: $h $s;
    background-color: $lightBlack;
    color: $white;

    @include to(md) {
      background-color: $gray-100;
      color: $lightBlack;
    }

    &--active {
      color: $lightBlack;
      background-color: $orange;

      @include to(md) {
        background-color: $gray-100;
        color: $orange;
      }
    }

    &:hover {
      color: $lightBlack;
      background-color: $orange;

      @include to(md) {
        background-color: $gray-100;
        color: $orange;
      }
    }
  }

  @at-root .mobile__panel #{&} {
    box: vertical center;
    margin-bottom: $s*2;
  }
}