<footer class="footer">
  <div class="footer__content">
  
    <div class="footer__content__left">
    <h4>{{ footerleftT }}</h4>
      <p>{{ footerleft }}</p>
      <h4 class="white"> {{ socialmedia }} </h4> 
      <a href="{{ config.site.fburl }}"> {% Icon 'facebook' %}</a>
      <a href="{{ config.site.twurl }}"> {% Icon 'twitter' %}</a>
      <a href="{{ config.site.igurl }}"> {% Icon 'instagram' %}</a>
          
    </div>
    <div class="footer__content__center">
      <h4>{{ footercenterT }}</h4>
      <p>{{ footercenter }}</p>
    </div>
    <div class="footer__content__right">
      <h4> {{ footerrightT }} </h4>
      <p> {{ footerright }} </p>
    </div>
  </div>
  <div class="footer__content__bottom">
      <p>Copyright  ©  {{ 'now' | date: '%Y' }} Noorhaqiqi.com</p>
  </div>
</footer>