<footer class="footer">
  <div class="footer__content">
    <div class="footer__content__left">
      <h4 class="white">Our Social Media</h4> 
    </div>
    <div class="footer__content__center">
      <h4 class="white" >{{ config.footer.footercentertitle }}</h4>
      <p>{{ config.footer.footercenter }}</p>
    </div>
    <div class="footer__content__right">
      <h4 class="white">{{ config.footer.footerrighttitle }}</h4>
      <p>{{ <config.footer.footerright }}</p>
    </div>
  </div>
  <div class="footer__content__bottom">
      <P>
      Copyright  ©  {{ 'now' | date: '%Y' }}  Muslims' most misconception about Christianity, Christain life, and Holy Book
    </P>
  </div>
</footer>