
{% layout 'includes/layout.html' %}
{% include 'includes/variables.html' %}

{% block content %}

  <div class="container">
    <h2> {{ 'share' | t: lang }}</h2>
    

    <div class="grid">
    
      {% for articles in collections.home %} 
        <a class="grid__item" href="#{{ articles.data.number }}" style="background-image: url({{ articles.data.image | getImageUrl: 400 }})">
        <div class="grid__overlay"></div>
        <p>Grid Article</p>
      {% endfor %}
  
    </div>
      {{ content }}
    <div class="homeimage" style="background-image: url('{{ imagehome }}')" ></div>
    <br />
    <h2>{{ 'event' | t: lang }}</h2>
    <div class="grid">
  {% for event in collections.homeevent %} 
    <a class="grid__item" href="#{{ event.data.number }}" style="background-image: url({{ event.data.image | getImageUrl: 400 }})">
      <div class="grid__overlay"></div>
      <p>Event Grid</p>
  {% endfor %}
</div>
    
</div> 
  
  </div>
  
   
{% endblock %}